.wrapper {
    padding: 360px 40px;
    text-align: center;

    @media (max-width: 600px) {
        padding: 80px 12px;
    }
}

.title {
    color: #f5f3ff;
    font-size: 2.4rem;
    /*margin-bottom: 6px;*/
}

.subtitle {
    color: #c084fc;
    font-size: 1rem;
    margin-bottom: 40px;
    opacity: 0.9;
}

.form {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 22px;

    @media (max-width: 600px) {
        max-width: 100%;
    }
}

.field {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 6px;
    color: #e4d9ff;
    color: #fff;
    font-size: 1.1rem;
    opacity: 0.9;
}

.field input,
.field textarea {
    padding: 12px 14px;
    background: #0b0f17;
    background: rgba(0, 0, 0, 0.50);
    border-color: transparent;
    border-radius: 6px;
    color: white;
    outline: none;
}


.field textarea {
    height: 300px;
    max-width: 100%;
    font-size: 1rem;
}


.field input:focus,
.field textarea:focus {
    border-color: #ec4899;
    box-shadow: 0 0 12px rgba(236, 72, 153, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 5);
}


.button:hover:not(:disabled) {
    filter: brightness(1.25);
    box-shadow: 0 0 20px rgba(236, 72, 153, 0.9);
}

.success {
    color: #4ade80;
    margin-top: 10px;
    text-shadow: 0 0 8px rgba(74, 222, 128, 0.6);
}

.error {
    color: #f87171;
    margin-top: 10px;
    text-shadow: 0 0 8px rgba(248, 113, 113, 0.5);
}

.cta {
    cursor: pointer;
    color: #fff;
    background-color: #c98cff;
    border: none;
    border-radius: 8px;
    padding: 12px 48px;
    font-size: 1.2rem;
    transition: transform 0.2s ease, box-shadow 0.25s ease;
}

.cta:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(201, 140, 255, 0.4);
}
