.footer {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.55);
    color: rgba(229, 231, 235, 0.85);
    padding: 60px 30px 30px;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px;
}

.contactItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-width: 200px;
}

.contactItem h4 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;

    color: #c084fc;
    font-size: 0.9rem;
    margin: 0;
}

.contactItem p {
    margin: 0;
    color: rgba(229, 231, 235, 0.85);
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.bottom {
    border-top: 1px solid rgba(147, 51, 234, 0.3);
    margin-top: 40px;
    padding-top: 20px;
    font-size: 0.85rem;
    color: #9ca3af;
    opacity: 0.8;
}

@media (max-width: 900px) {
    .contact {
        gap: 50px;
    }

    .contactItem h4 {
        font-size: 1rem;
    }

    .contactItem p {
        font-size: 0.95rem;
    }
}

@media (max-width: 600px) {
    .contact {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .contactItem {
        min-width: unset;
    }

    .contactItem h4 {
        font-size: 1rem;
    }

    .contactItem p {
        font-size: 0.95rem;
    }

    .bottom {
        font-size: 0.8rem;
        margin-top: 30px;
    }
}


.socials {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.socialItem {
    display: flex;
    align-items: center;
    /*gap: 10px;*/
    text-decoration: none;
    color: rgba(229, 231, 235, 0.85);
    font-size: 0.9rem;
    /*transition: 0.25s ease;*/
}

.socialItem:hover {
    /*transform: translateY(-3px);*/
    color: #c084fc;
}

.socialItem span {
    margin-left: 8px;
    /*font-size: 0.9rem;*/
    font-size: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Oswald', sans-serif;

    letter-spacing: 1px;
}


.icon {
    width: 14px;
    height: 14px;
    margin-left: 4px;
    padding-bottom: 2px;
}
