.wrapper {
    text-align: center;
    padding-bottom: 200px;

}

.title {
    color: #f5f3ff;
    font-size: 3rem;
}

.grid {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
    background: transparent;
    border: yellow 2px solid;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 420px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
}

.icon {
    filter: drop-shadow(0 0 10px rgba(236, 72, 153, 0.85));
}

.handle {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.25s;
    font-size: 1.5rem;
}

/*.handle:hover {*/
    /*color: white;*/
    /*text-shadow: 0 0 18px #ec4899;*/
/*}*/
