.embedWrapper {
    max-width: 540px;
    min-width: 326px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Skeleton (loading placeholder) */
.skeleton {
    width: 100%;
    padding-top: 125%; /* ratio carré */
    background: #e6e6e6;
    border-radius: 6px;
    animation: pulse 1.4s infinite ease-in-out;
}

@keyframes pulse {
    0% { opacity: .6; }
    50% { opacity: 1; }
    100% { opacity: .6; }
}
